<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="info.css" />
<h1> DISCOVER YOUR MEAL </h1>
<hr>
</head>
<body>
    <!-- <h2> Macros Information </h2> -->
<div id="container">
    <div>
        <table>
            <caption> Nutrition Facts </caption>
            <tr>
                <th> calories </th>
                <th> <textarea rows="1" id="calories"> </textarea> </th>
                </tr>
            <tr>
                <th> protein </th>
                <th> <textarea rows="1" id="protein"> </textarea> </th>
                </tr>
            <tr>
                <th> carbs </th>
                <th> <textarea rows="1" id="carbs"> </textarea> </th>
                </tr>
            <tr>
                <th> fats </th>
                <th> <textarea rows="1" id="fats"> </textarea> </th>
                </tr>
            <tr>
                <th> cholestrol </th>
                <th> <textarea rows="1" id="cholestrol"> </textarea> </th>
                </tr>
            <tr>
                <th> fiber </th>
                <th> <textarea rows="1" id="fiber"> </textarea> </th>
                </tr>
            </table
            </div>
    
    </div>
    
    <div id="container">
        <div> item2 <br>  </div>
        
       
        </div>
    
    <div id="container">
        <div> item3 <br></div>
        </div>

</body>
    </html>



