

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>User Interaction</h1>
       <link rel="stylesheet" type="text/css" href="css/part2.css" />
       

  </head>



<div class="inter">
    
    <ul>
       <li>Power button: <br> This will enable the user to turn on/off the device <br><br> </li>
      <li>Unit of measurement: <br> The user will have the option to choose the desired unit to measure the food <br><br></li>
      <li>A button to add up the current item to previous one <br><br></li>
      <li>Information display: <br> The user can see the desired macronutrients, calories information on the screen to achieve their goal <br><br></li>
      <li>A button to remove an item <br><br></li>
      <li>A button to show the sum <br><br></li>
   </ul>
    
    </div>


