

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Top Features</h1>
       <link rel="stylesheet" type="text/css" href="css/part1.css" />
       

  </head>




<div class="top">
    <table style="width:100%">
      <tr>
        <th>Feature</th>
        <th>Persona</th>
        <th>Benefits</th>
      </tr>
      <tr>
        <td>Food detection</td>
        <td>Busy individual aiming to lose weight</td>
        <td>Unlike other products, this feature will save the user time and energy the need to input the type of food which has been a struggle when trying to use tracking calories products that require the user to manually input the type of food </td>
      </tr>
      <tr>
        <td>Simple to use</td>
        <td>Old people</td>
        <td>Although this product is advanced, it does not require the user to be a technology expert in order to use it daily without problems because the user only needs to place the plate on the scale and the food will be detected with the desired information being diplayed on the screen</td>
      </tr>
      <tr>
        <td>Information about Macronutrients</td>
        <td>Athletes & people following a specific diet</td>
        <td>This feature will allow users who have to intake a specific amount of macronutrients to calculate the amount of protein, fat and carbs going into their bodies</td>
      </tr>
      <tr>
        <td>Perfect size</td>
        <td>Individual who do not like to occupy their space with big products</td>
        <td>The size of the product will fit any kitchen or any room without it being very noticeable and will not occupy much space</td>
      </tr>
      <tr>
        <td>Monthly updates</td>
        <td>Individual who are interested in the product's new updates&features</td>
        <td>This feature will keep the user engaged with the brand and will create a brand loyal user by adding features and improve the product's performance and accuracy</td>
      </tr>
    </table>

    </div>

